AWS_PROFILE=gafari-devops
AWS_REGION=ca-central-1
PROJECT_NAME=nodejs-aws-jenkins
VPC_CIDR=10.20.0.0/16
SUBNET_CIDR=10.20.1.0/24
AVAILABILITY_ZONE=ca-central-1a
SSH_CIDR=162.156.99.247/32
APP_PORT=3000

VPC_ID=
SUBNET_ID=
INTERNET_GATEWAY_ID=
ROUTE_TABLE_ID=
ROUTE_TABLE_ASSOCIATION_ID=
SECURITY_GROUP_ID=
KEY_NAME=
KEY_FILE=
AMI_ID=
INSTANCE_ID=
INSTANCE_PUBLIC_IP= 